header {
  position: relative;
  height: 3rem;
  background-color: #f4f3f3;
  padding: 0 2rem; }
  header .Right-wrapper {
    display: inline-block;
    float: right;
    vertical-align: middle;
    height: 100%; }
    header .Right-wrapper__item {
      margin-top: 0.5rem; }
      header .Right-wrapper__item .Cart {
        min-height: 2rem; }
        header .Right-wrapper__item .Cart__ordered {
          position: absolute;
          font-size: 0.8rem;
          width: 1rem;
          background-color: red;
          text-align: center;
          color: white;
          border-radius: 50%;
          margin-top: -0.2rem;
          margin-left: 1.8rem; }
        header .Right-wrapper__item .Cart__icon {
          float: right;
          width: fit-content; }
